<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <h1>Match Details</h1>
    </div>
  </div>
  <div class="row">
    <ul>
        <li>
            <div class="col s12 m6">
              <div class="card amber darken-2">
                <div class="card-content white-text">
                  <span class="card-title"><%= details.name %></span>
                  <p><%= details.meal_served %></p>
                  <p><%= details.details %></p>
                  <p><%= details.address %></p>
                  <p><%= details.phone %></p>
                  <p>please contact to arrange pickup</p>
                </div>
                <div class="card-action">
                  <a class="btn waves-effect waves-light" href="/requests/match" name="action">Accept</a>
                </div>
              </div>
            </div>
          </li>
      </ul>
    </div>
</div>